/* styles.css */
.container {
    margin-top: 20px;
}

.btn {
    margin-right: 10 px;
}
 .usuarios-table{
    background-color: none;
 }

.usuarios-table th,
.usuarios-table td {
    text-align: center; /* Centrar el texto en celdas */
}

.fa-eye-slash::before {
    content: "\f070"; /* Código Unicode para el ícono de línea diagonal */
}

