/*Estilos de la tabla dashboard*/
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.styled-table th,
.styled-table td {
    border-top: 1px transparent !important;
    padding: 8px;
    text-align: center;
}

  /* Estilo para los botones dentro de la tabla */
.styled-table a.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    width: 350px; /* Establece el ancho deseado */
    height: 100px; /* Establece la altura deseada */
    font-size: 20px; /* Ajusta el tamaño de fuente si es necesario */
}

.styled-table a.btn:hover {
    transform: scale(1.05);
}

/* Estilo para las imágenes dentro de los botones en el dashboard */
.btn-dashboard img {
    width: 80px; /* Establece el ancho deseado para las imágenes */
    height: 80px; /* Establece la altura deseada para las imágenes */
}
