<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesBaseDashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesUsers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesProducts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesDashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesUsers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesCategory.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesMarc.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
<!-- Archivos de Bootstrap CSS y JavaScript -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/6ffafabebc.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="sidebar-closed">
    <!-- Botón para abrir el menú lateral -->
    <div id="menuBtn">&#9776; Menú</div>
    <!-- Menú lateral -->
    <div class="sidenav" id="mySidenav">
        <a href="{{ url_for('dashboard') }}"><i class="fas fa-home"></i> Inicio</a>
        <a href="{{ url_for('users') }}"><i class="fas fa-users"></i> Usuarios</a>
        <a href="{{ url_for('products') }}"><i class="fas fa-shopping-cart"></i> Productos</a>
        <a href="{{ url_for('category') }}"><i class="fas fa-folder"></i> Categorías</a>
        <a href="{{ url_for('client') }}"><i class="fas fa-users"></i> Clientes</a>
        <a href="{{ url_for('marc') }}"><i class="fas fa-tags"></i> Marcas</a>
        <a href="#"><i class="fas fa-receipt"></i> Recibos</a>
        <a href="{{ url_for('sizes') }}"><i class="fas fa-tshirt"></i> Tallas</a>
        <a href="#"><i class="fas fa-file-alt"></i> Generar reporte</a>
        <a href="#"><i class="fas fa-cog"></i> Configuración</a>
        <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
    </div>
    <!-- Contenido principal -->
    <div id="main">
        <div class="container mt-4">
            {% block content %}{% endblock %}
        </div>
    </div> 
    <script src="{{ url_for('static', filename='js/scriptUsers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scriptEditarUsers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scriptBaseDashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scriptCategory.js')}}"></script>
    <script src="{{ url_for('static', filename='js/scriptEditarCategory.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scriptMarc.js')}}"></script>
    <script src="{{ url_for('static', filename='js/scriptEditarMarc.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scriptProducts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scriptCategories.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scriptBrands.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripstClient.js')}}"></script>
</body>
</html>