{% extends 'baseDashboard.html' %}

{% block content %}
<h1 id="saludo"></h1>
<div class="container">
    <h2>Dashboard del Administrador</h2>
    <table class="table styled-table">
        <tr>
            <td>
                <a href="{{ url_for('users') }}" class="btn btn-primary btn-dashboard">
                    <img src="/static/img/user.png" alt="Usuarios">
                    Gestionar Usuarios
                </a>
            </td>
            <td>
                <a href="{{ url_for('products') }}" class="btn btn-primary btn-dashboard">
                    <img src="/static/img/products.png" alt="Productos" >
                    Gestionar Productos
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('category') }}" class="btn btn-primary btn-dashboard">
                    <img src="/static/img/folder.png" alt="Categorías" >
                    Gestionar Categorías
                </a>
            </td>
            <td>
                <a href="{{ url_for('client') }}" class="btn btn-primary btn-dashboard">
                    <img src="/static/img/client.png" alt="Clientes" >
                    Gestionar Clientes
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('marc') }}" class="btn btn-primary btn-dashboard">
                    <img src="/static/img/brand.png" alt="Marcas">
                    Gestionar Marcas
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-primary btn-dashboard">
                    <img src="/static/img/payment.png" alt="Recibos" >
                    Gestionar Recibos
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('sizes') }}" class="btn btn-primary btn-dashboard">
                    <img src="/static/img/size.png" alt="Tallas" >
                    Gestionar Tallas
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-primary btn-dashboard">
                    <img src="/static/img/report.png" alt="Tallas" >
                    Generar reporte
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#" class="btn btn-primary btn-dashboard">
                    <img src="/static/img/settings.png" alt="Tallas" >
                    Configuración
                </a>
            </td>
        </tr>
    </table>   
</div>
{% endblock %}