{% extends 'baseDashboard.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center"> <!-- Centra el contenido horizontalmente -->
        <div class="col-md-6"> <!-- Establece el ancho del formulario -->
            <h2><i class="fa-solid fa-user-pen"></i>Editar Categoría</h2>
            <form action="{{ url_for('editCategories', ID_CATEGORIA=categoria[0]) }}" method="POST">
                <!-- Campos de entrada para los datos del categoria -->
                <div class="form-group">
                    <label for="nombre_categoria"><i class="fas fa-user"></i> Nombre</label>
                    <input type="text" class="form-control" id="nombre_categoria" name="nombre_categoria" value="{{ categoria[1] }}">
                </div>

                <div class="btn-group" style="display: flex; justify-content: space-between;">
                    <button type="submit" class="btn btn-primary" style="width: 50px;">
                        <i class="fas fa-save"></i> Guardar Cambios
                    </button>
                    <a href="{{ url_for('category') }}" class="btn btn-secondary" style="width: 50px;">
                        <i class="fas fa-undo"></i> Regresar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}