{% extends 'baseDashboard.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center"> <!-- Centra el contenido horizontalmente -->
        <div class="col-md-6"> <!-- Establece el ancho del formulario -->
            <h2><i class="fa-solid fa-user-pen"></i>Editar cliente</h2>
            <form action="{{ url_for('editClient', ID_CLIENTE=cliente[0]) }}" method="POST">
                <!-- Campos de entrada para los datos del cliente -->
                <div class="form-group">
                    <label for="nombre_cliente"><i class="fas fa-user"></i> Nombre</label>
                    <input type="text" class="form-control" id="nombre_cliente" name="nombre_cliente" value="{{ cliente[1] }}">
                </div>
                <div class="form-group">
                    <label for="direccion"><i class="fas fa-envelope"></i> Direccion</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" value="{{ cliente[2] }}">
                </div>
                <div class="form-group">
                    <label for="nit"><i class="fas fa-envelope"></i> Nit</label>
                    <input type="text" class="form-control" id="nit" name="nit" value="{{ cliente[3] }}">
                </div>
                <div class="form-group">
                    <label for="correo"><i class="fas fa-envelope"></i> Correo Electrónico</label>
                    <input type="email" class="form-control" id="correo" name="correo" value="{{ cliente[4] }}">
                </div>
                <!-- <div class="form-group">
                    <label for="contrasena"><i class="fas fa-key"></i> Contraseña:</label>
                    <input type="password" class="form-control" id="contrasena" name="contrasena"
                        value="{{ cliente[5] }}" required>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="ver_contrasena">
                        <label class="form-check-label" for="ver_contrasena">Ver contraseña</label>
                        <i class="fas fa-eye" id="icono_contrasena" style="display: none;"></i>
                    </div>
                </div> -->

                <div class="btn-group" style="display: flex; justify-content: space-between;">
                    <button type="submit" class="btn btn-primary" style="width: 50px;">
                        <i class="fas fa-save"></i> Guardar Cambios
                    </button>
                    <a href="{{ url_for('client') }}" class="btn btn-secondary" style="width: 50px;">
                        <i class="fas fa-undo"></i> Regresar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}