{% extends 'base.html' %}

{% block content %}

<h1>Carrito de Compras</h1>

{% if carrito %}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in carrito %}
        <tr>
            <td>{{ producto[1] }}</td>
            <!-- Supongo que el nombre del producto está en la segunda columna de tu tabla Oracle -->
            <td>${{ producto[2] }}</td> <!-- Supongo que el precio del producto está en la tercera columna -->
            <td><a href="/quitar/{{ producto[0] }}">Quitar</a></td>
            <!-- Supongo que el ID del producto está en la primera columna -->
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total: ${{ total_carrito }}</p>

<a href="/limpiar_carrito">Vaciar carrito</a>
<a href="/">Seguir comprando</a>
<a href="/realizar_pedido">Realizar pedido</a>
{% else %}
<p>El carrito de compras está vacío.</p>
<a href="/">Ir a la tienda</a>
{% endif %}

{% endblock %}