{% extends 'base.html' %}

{% block content %}
<style>
    .hide {
        position: relative;
        visibility: hidden;
    }

    .show {
        position: relative;
        visibility: visible;
    }

    /* .hide::after {
        color: white;
        font-family: Arial;
        font-size: 30px;
        font-weight: bold;
        content: "Ventas";
        position: absolute;
        visibility: visible;
        left: 10%;
        top: -5px;
    } */
</style>
<h1>Carrito de Compras</h1>
<div class="container">
    {% if carrito %}
        <table class="table table-bordered productos-table">
            <thead class="thead-dark">
                <tr>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Talla</th>
                    <th>Categoria</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto, cantidad in carrito %}
                <tr>
                    <td><img src="{{ url_for('static', filename=producto[8]) }}" alt="Imagen" width="100" height="100"></td>
                    <td>{{ producto[1] }}</td>
                    <td>{{ producto[3] }}</td>
                    <td>{{ producto[4] }}</td>
                    <td>{{ producto[5] }}</td>
                    <td>Q. {{ producto[6] }}</td>
                    <td><input type="number" id="cantidad" name="cantidad" value="{{ cantidad }}"></td>
                    <td>
                        <div class="button-container text-center">
                            <form action="{{ url_for('quitar', ID_PRODUCTO=producto[0]) }}">
                            <button type="submit" class="btn btn-danger btn-sm">
                                <img src="{{ url_for('static', filename='img/basura.png') }}" alt="Eliminar"
                                    width="25" height="25">
                            </button>
                        </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="tag-precio">Total: Q{{ total_carrito }}</p>
        
        <a href="/limpiar_carrito" class="btn-limpiar">Vaciar carrito</a>
        <a href="/buy" class="btn-compra">Seguir comprando</a>
        <a href="/ingresar_datos_comprador" class="btn-pedir">Realizar pedido</a>
        {% else %}
        <p>El carrito de compras está vacío.</p>
        <a href="/buy" class="btn-regresar">Ir a la tienda</a>
        {% endif %}
</div>

{% endblock %}